.PennySelector {
    box-sizing: border-box;
    border: 1px solid #eee;
    padding: 2px 5px;
    box-shadow: 3px 3px 4px #eee;
    margin: 4px 0;
    display: block;
    text-align: center;
    color: #333;
    background-color: #eee;
}

.PennySelector:hover {
    color: #eee;
    background-color: #333;
}