.text {
    background: url(../../assets/img/wateraid_m.jpg) no-repeat top ;
    background-size: cover;
    min-height: 200px;
    margin: auto inherit;
}

.text:before {
    opacity: 0.7;
}

@media (min-width: 768px) {
    .text {
        min-height: 800px;
    }
}

@media (min-width: 992px) {
    .text {
        background: url(../../assets/img/wateraid.jpg) no-repeat top ;
        min-height: 800px;
    }
}