.ActiveNavLink {
    color: #e8cd30;
}

.ReadMoreBtn {
    padding: 15px 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 2px solid #ccc;
    background: none;
    display: inline-block;
    margin-top: 3rem !important;
}

.ReadMoreBtn:hover {
    border-color: #e8cd30;
    color: #e8cd30;
}
