.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid #f00;
    background-color: salmon
}

.ErrorMessage {
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #f00;
    background-color: salmon;
    color: #fff;
    font-weight: bold;
}